// Bubble Box
.ui_bubble {
    $border-radius: 20px;
    @include inlineBlock();
    vertical-align: top;

    .bubble {
        position: fixed;
        top: -9999px;
        left: 50%;
        transform: translateX(-50%);
        margin: -5px 0 0 -10px;
        width: max-content;
        color: #ffffff;
        font-weight: normal;
        text-align: left;
        pointer-events: none;
        z-index: 5;

        > .arrow {
            position: absolute;
            left: 50%;
            bottom: 8px;
            margin-left: 10px;
            z-index: 1;

            &:before {
                content: '';
                position: absolute;
                top: 6px;
                left: -8px;
                width: 16px;
                height: 16px;
                background: rgba(0, 0, 0, 0.2);
                @include rotate(45);
                @include blur(3);
            }

            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: -8px;
                width: 16px;
                height: 16px;
                background: #6d6d6d;
                @include rotate(45);
            }

            &.is-title-only {
                &:after {
                    background: #606060;
                }
            }
            &.is-content-only {
                &:after {
                    background: #6d6d6d !important;
                }
            }
        }

        > .wrap {
            position: relative;
            //margin-left: -20px;
            border-radius: $border-radius;
            background: #6d6d6d;
            box-sizing: border-box;
            @include shadow(0, 5px, 5px, 0.2, 0, 0, 0);
            overflow: hidden;

            > .title {
                display: block;
                padding: 14px;
                background: #606060;
                font-size: 1.167em;
                font-weight: bold;
                white-space: normal;
                word-break: keep-all;
                word-wrap: break-word;
                line-height: 16px;
            }

            > .content {
                display: block;
                position: relative;
                padding: 14px;
                border-top: 1px solid rgba(255, 255, 255, 0.3);
                background: #6d6d6d;
                white-space: normal;
                word-break: keep-all;
                word-wrap: break-word;
                line-height: 20px;

                > strong {
                    color: $point_color_2;
                }

                &:only-child {
                    border-radius: $border-radius;
                    // background: #ffffff;
                    font-weight: normal;
                }
            }

            > .subcontent {
                display: block;
                position: relative;
                padding: 14px 0;
                margin: 0 14px;
                border-top: 1px solid rgba(255, 255, 255, 0.15);
                color: rgba(255, 255, 255, 0.7);
                line-height: 20px;
            }

            &.html {
                .title {
                    text-align: center;
                }
                > .htmlContent {
                    padding: 14px;
                    border-top: 1px solid rgba(255, 255, 255, 0.3);
                    background: #6d6d6d;

                    > .searchOptions {
                        table {
                            border-collapse: collapse;
                            tr {
                                th {
                                    background: #878787;
                                    padding: 6px 0;
                                    text-align: center;
                                    border-top: 1px solid #666;
                                    border-bottom: 1px solid #666;
                                }
                                td {
                                    padding: 6px 10px;
                                    border-top: 1px solid #666;
                                    border-bottom: 1px solid #666;
                                }
                            }
                        }
                        > .info_btm {
                            color: #fbd65b;
                            text-align: center;
                            padding-top: 7px;
                        }
                    }
                }
            }

            &.image {
                padding: 2px;

                img {
                    display: block;
                    position: relative;
                    max-width: 100%;
                    max-height: 400px;
                    border-radius: $border-radius $border-radius $border-radius
                        0;
                    z-index: 1;
                }

                &.is-loading {
                    min-width: 200px;
                    min-height: 100px;

                    &:after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 40px;
                        height: 40px;
                        margin: -20px 0 0 -20px;
                        border-top: 4px solid #fff;
                        border-right: 4px solid rgba(0, 0, 0, 0.2);
                        border-bottom: 4px solid rgba(0, 0, 0, 0.2);
                        border-left: 4px solid rgba(0, 0, 0, 0.2);
                        border-radius: 50%;
                        animation: loaderAni 1.1s infinite
                            cubic-bezier(0.5, 0, 0.5, 1);
                    }
                }
            }
        }

        &.is-CT,
        &.is-CM {
            transform: translateY(-100%) translateX(-50%);
            margin-left: 0;

            > .arrow {
                margin-left: 0;
                margin-right: 0;
            }
        }
        &.is-LT,
        &.is-LM {
            transform: translateY(-100%);

            > .wrap {
                border-radius: $border-radius $border-radius $border-radius 0;
            }
        }
        &.is-RT,
        &.is-RM {
            transform: translateY(-100%) translateX(-100%);
            margin: -5px 0 0 10px;

            > .arrow {
                left: auto;
                margin-right: 10px;
            }

            > .wrap {
                border-radius: $border-radius $border-radius 0 $border-radius;
            }
        }

        &.is-CB {
            margin: 5px 0 0 0;
            transform: translateY(0) translateX(-50%);

            > .arrow {
                bottom: auto;
                top: -8px;
                margin-left: 0;
                margin-right: 0;

                &:before {
                    content: none;
                }

                &:after {
                    background: #606060;
                }
            }
        }
        &.is-LB {
            margin: 5px 0 0 -10px;
            transform: none;

            > .arrow {
                bottom: auto;
                top: -8px;

                &:before {
                    content: none;
                }

                &:after {
                    background: #606060;
                }
            }

            > .wrap {
                border-radius: 0 $border-radius $border-radius $border-radius;
            }
        }
        &.is-RB {
            margin: 5px 0 0 10px;
            transform: translateY(0) translateX(-100%);

            > .arrow {
                bottom: auto;
                top: -8px;
                left: auto;
                margin-right: 10px;

                &:before {
                    content: none;
                }

                &:after {
                    background: #606060;
                }
            }

            > .wrap {
                border-radius: $border-radius 0 $border-radius $border-radius;
            }
        }

        // Custom Color
        &.is-customColor {
            > .arrow {
                &:before,
                &:after {
                    left: -5px;
                    width: 10px;
                    height: 10px;
                }
                &:after {
                    top: 2px;
                    border-right: 2px solid #ffffff;
                    border-bottom: 2px solid #ffffff;
                    background: var(--bg-color) !important;
                }
            }

            > .wrap {
                //margin-left: -20px;
                border-radius: 0;
                border: 2px solid #fff;
                @include shadow(0, 2px, 2px, 0.2, 0, 0, 0);
                overflow: hidden;

                > .title {
                    display: flex;
                    padding: 8px 15px;
                    font-size: 12px;
                    font-weight: normal;
                    line-height: 16px;

                    > * {
                        line-height: 16px;
                    }
                }
            }
        }
    }

    &.is-board {
        max-width: 100% !important;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: top;

        .bubble {
            > .arrow {
                left: 20px !important;
                right: auto !important;
                transform: translateY(-8px);
            }
            > .wrap {
                transform: translateY(-8px);
            }
        }
    }

    &.is-validation {
        .bubble {
            margin: -2px 0 0 -4px;

            > .arrow {
                bottom: 4px;
                margin-left: 3px;

                &:before {
                    top: 6px;
                    left: -4px;
                    width: 8px;
                    height: 8px;
                }

                &:after {
                    top: 0;
                    left: -4px;
                    width: 8px;
                    height: 8px;
                    border-right: 1px solid #eb6161;
                    border-bottom: 1px solid #eb6161;
                    background: #fff;
                    box-sizing: border-box;
                }
            }
            > .wrap {
                border: 1px solid #eb6161;
                border-radius: 6px 6px 6px 0;
                background: none;

                > .content {
                    position: relative;
                    padding: 5px 15px;
                    border-radius: 6px 6px 6px 0;
                    background: #ffffff;
                    color: #eb6161;

                    &:before {
                        content: '\e006';
                        padding-right: 6px;
                        font-family: 'icomoon';
                    }
                }
            }

            &.is-LB {
                margin: 5px 0 0 -10px;
                transform: none;

                > .arrow {
                    bottom: auto;
                    top: -4px;

                    &:before {
                        top: 6px;
                        left: -4px;
                        width: 8px;
                        height: 8px;
                    }

                    &:after {
                        top: 0;
                        left: -4px;
                        width: 8px;
                        height: 8px;
                        border-top: 1px solid #eb6161;
                        border-left: 1px solid #eb6161;
                        border-right: none;
                        border-bottom: none;
                        background: #fff;
                        box-sizing: border-box;
                    }
                }

                > .wrap {
                    border-radius: 0 6px 6px 6px;

                    > .content {
                        border-radius: 0 6px 6px 6px;
                    }
                }
            }
        }

        &.password {
            position: relative;
            width: 100%;
            display: flex;
            align-items: center;
        }
    }

    &.is-helper {
        line-height: 20px;
        vertical-align: initial;
        // margin-top: -2px;

        .bubble {
            > .wrap {
                > .htmlContent {
                    line-height: 1.8em;

                    > * {
                        /*
                        > strong {
                            display: block;
                            padding: 10px 0 5px;

                            &:first-child {
                                padding-top: 0;
                            }
                        }

                        > ul {
                            font-size: 11px;

                            > li {
                                &:before {
                                    content: '- ';
                                }

                                .ex {
                                    @include inlineBlock();
                                    padding: 5px 8px;
                                    margin-left: 8px;
                                    border-radius: 4px;
                                    background: #5c5c5c;
                                    line-height: 1;
                                }
                            }
                        }
                        */

                        > ul {
                            color: rgba(255, 255, 255, 0.8);

                            > li {
                                padding: 0 0 8px 0;

                                &:last-child {
                                    padding: 0;
                                }

                                > strong,
                                > span:not(.ex) {
                                    display: block;
                                    position: relative;
                                    padding: 0 0 0 12px;
                                    color: #fff;
                                    line-height: 16px;

                                    &:before {
                                        content: '';
                                        position: absolute;
                                        top: 6px;
                                        left: 0;
                                        width: 3px;
                                        height: 3px;
                                        background: rgba(255, 255, 255, 1);
                                    }
                                }

                                > ul {
                                    display: block;
                                    padding: 3px 0 0 12px;

                                    > li {
                                        position: relative;
                                        padding: 0 0 3px 12px;
                                        font-size: 0.917em;
                                        line-height: 16px;

                                        &:last-child {
                                            padding-bottom: 0;
                                        }

                                        &:before {
                                            content: '';
                                            position: absolute;
                                            top: 8px;
                                            left: 2px;
                                            width: 4px;
                                            height: 1px;
                                            margin: -1px 0 0 0;
                                            background: rgba(
                                                255,
                                                255,
                                                255,
                                                0.8
                                            );
                                        }
                                    }
                                }

                                em {
                                    color: #999999;
                                }
                            }
                        }
                    }

                    .ex {
                        @include inlineBlock();
                        padding: 5px 8px;
                        margin: 2px 0;
                        border-radius: 4px;
                        background: #505050;
                        line-height: 1.3em;

                        &.is-block {
                            display: block;
                            margin-top: 8px;
                            padding: 8px;
                        }
                    }
                }
            }
        }

        &.password {
            position: relative;
            width: 100%;
            display: flex;
            align-items: center;
        }
    }

    @media ($mq_mobile) {
        // Mobile
        &:not(.is-board) {
            display: none !important;
        }

        .bubble {
            display: none !important;
        }
    }

    /*
    &.is-board {
        .bubble {
            position: fixed;
            top: -9999px;
            left: 0;
            //width: 100%;
            transform: translateY(-100%);
            pointer-events: none;
            z-index: 1;
    
            &:before {
                content: '';
                position: absolute;
                bottom: -12px;
                left: 20px;
                width: 12px;
                height: 12px;
                background: rgba( 0, 0, 0, 0.2 );
                @include rotate( 45 );
                @include blur( 3 );
                z-index: 0;
                //@include shadow( 0, 2px, 1px, 0.16, 0, 0, 0 );
            }
    
            &:after {
                content: '';
                position: absolute;
                bottom: -7px;
                left: 20px;
                width: 12px;
                height: 12px;
                border-right: 2px solid $component_brd_color_active;
                border-bottom: 2px solid $component_brd_color_active;
                background: #ffffff;
                @include rotate( 45 );
                z-index: 2;
                //@include shadow( 0, 2px, 1px, 0.16, 0, 0, 0 );
            }
    
            &.is-title-txts {
                &:after {
                    background: #F8F8F8;
                }
            }
    
            > .wrap {
                position: relative;
                border: 2px solid $component_brd_color_active;
                border-radius: 5px;
                background: #ffffff;
                box-sizing: border-box;
                @include shadow( 0, 5px, 5px, 0.2, 0, 0, 0 );
                z-index: 1;
    
                > .title {
                    display: block;
                    padding: 12px 16px;
                    border-bottom: 1px solid #DBDBDB;
                    border-radius: 5px 5px 0 0;
                    font-weight: bold;
                    white-space: normal;
                    word-break: keep-all;
                    line-height: 16px;
        
                    &:only-child {
                        border-bottom: none;
                        border-radius: 5px;
                        background: #ffffff;
                        font-weight: normal;
                    }
                }
        
                > .txts {
                    display: block;
                    position: relative;
                    padding: 12px 16px 12px 34px;
                    border-radius: 0 0 5px 5px;
                    background: #F8F8F8;
                    white-space: normal;
                    word-break: keep-all;
        
                    > strong {
                        color: $point_color_2;
                        font-weight: normal;
                    }
        
                    &:only-child {
                        border-radius: 5px;
                        background: #ffffff;
                        font-weight: normal;
                    }
    
                    &:before {
                        content: '\e008';
                        position: absolute;
                        top: 12px;
                        left: 16px;
                        font-family: 'icomoon';
                    }
                }
            }
    
            
    
            &:not(.is-board) {
                //max-width: auto !important;
            }
        }
    }
    */
}
